.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    margin-top: var(--default-layout-header-height);
    width: var(--default-layout-width);
    display: flex;
    padding: 0 var(--default-layout-spacer);

}
.content {
    flex: 1;
}
