// Menu wrapper
.menu-list {
    width: 224px;
    // Menu item
    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
}
.menu-body {
    overflow-y: auto;
    overscroll-behavior: contain;
}
.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 600;
    padding: 11px 16px;
    line-height: 1.8rem;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, .12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, .03);
    }
}

.header {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
