.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 10;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-spacer);
}

.logo {
    .logo-link {
        display: flex;
        
    }
}


// Actions 
.actions {
    display: flex;
    align-items: center;
}


.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background: transparent;
    padding: 4px 8px;
    cursor: pointer;
}
.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

.noti-icon {
    position: relative;
    .num-mess {
        position: absolute;
        right: 7px;
        top: -3px;
        font-size: 1.4rem;
        color: var(--white);
        background-color: var(--primary);
        border-radius: 50%;
        min-width: 20px;
        height: 20px;
        line-height: 1.8rem;
    }
}