
.search, .search-result {
    width: 500px;
}
.search-title {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    padding: 5px 12px
}
.search {
    height: var(--search-height);
    background: rgba(22, 24, 35, .06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    position: relative;
    border: 1px solid transparent;
    input {
        flex: 1;
        font-size: 1.6rem;
        color: var(--black);
        background: transparent;
        height: 100%;
        caret-color: var(--primary);

    }

    input:not(:placeholder-shown) ~ .search-btn{
        color: rgba(22, 24, 35, .75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, .12);
    }

    &:focus-within {
        border: 1px solid rgba(22, 24, 35, .2);
    }
}

.clear,
.loading {
    position: absolute;
    top: 50%;
    right: calc(var(--search-button-width) + 16px);
    transform: translateY(-50%);
    color: rgba(22, 24, 35, .34)
}
.loading {
    animation: spinner .8s linear infinite;
}
@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius); 
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.9rem; 
    color: rgba(22, 24, 35, 0.34); 
    &:hover {
        background: rgba(22, 24, 35, .03);
        cursor: pointer;

    }
    &:active {
        background: rgba(22, 24, 35, .06);
    }
}